<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555536856636-2c0br79ferf49nomatstgiek3en5026g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555536856636-2c0br79ferf49nomatstgiek3en5026g</string>
	<key>API_KEY</key>
	<string>AIzaSyAUy7ZsqsyYMp5UBYVsXGl4lTsvsJsmEgY</string>
	<key>GCM_SENDER_ID</key>
	<string>555536856636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akwade.youLearnt</string>
	<key>PROJECT_ID</key>
	<string>you-learnt</string>
	<key>STORAGE_BUCKET</key>
	<string>you-learnt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555536856636:ios:09a6db52c99d404628b539</string>
</dict>
</plist>